*,
figure {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
  &:focus {
    outline: none;
  }
}
picture{
  margin:0;
  padding: 0;
}
::-moz-selection { 
  color: white;
  background: $primary;
}

::selection {
  color: white;
  background: $primary;
}

//placeholder input
::-webkit-input-placeholder { 
  color: $dark;
  opacity: 1 !important;
}
::-moz-placeholder {
  color: $dark;
  opacity: 1 !important;
}
:-ms-input-placeholder { 
  color: $dark;
  opacity: 1 !important;
}
:-moz-placeholder {
  color: $dark;
  opacity: 1 !important;
}

//basic styles

strong{
  color:$primary;
}
html, body{
  height: 100%;
  overflow-x: hidden;
}
body {
  background:white;
  font-family: $global-font;
  overflow-x: hidden;
  position: relative;
  text-rendering: optimizeLegibility;
  min-width: 320px;
  width: 100vw;
  color:$gray-600;
  @include font($font-size-global); 
}
@for $i from 1 through 6{
  h#{$i}.title {
    color:black;
    font-family: $heading-font;
    font-weight: 700;
  }
  h#{$i}.subtitle {
    color:$dark;
    font-family: $subheading-font;
    font-weight: 300;
  }
}

//links
a {
  color: $primary;
  &:hover {
    color:$secondary;
  }
  &:hover,
  &:visited,
  &:active,
  &:focus {
    outline: 0;
    text-decoration: none;
  }
}
