$blue:    #0984e3;
$indigo:  #6610f2;
$purple:  #6c5ce7;
$pink:    #e83e8c;
$red:     #d63031;
$orange:  #e17055;
$yellow:  #fdcb6e;
$green:   #00b894;
$teal:    #20c997;
$cyan:    #17a2b8;
$silver:  #e4e4e4;

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$primary:       $blue;
$secondary:     $gray-900;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

