- var title = "Mildi Starter Kit";
- var siteName = "Mildi Starter Kit";
- var siteUri = "hektor.mx";
- var siteDescription = "Mildi SK";
- var siteKeywords = "Sass, Pug, Gulp, Bootstrap 4, Browser sync, Boilerplate";
- var themeColor ="#282828";
- var version = "?version=0.0.1";
- var lang = "es";
- var locale = "es_MX";
